<!DOCTYPE html>
<html>
  <head>
    <title>Password Encryption / Decryption</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

  </head>
  <body>
    <h1>Password Encryption / Decryption</h1>
    <p>
      <font color="green">Password is correct!</font>
      <form action="/">
        <input type="submit" value="home">
      </form>
    </p>
  </body>
</html>
